.map-page-container {
    text-align: center;
    margin: 20px;
    
  }
  
  .ok-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .ok-button:hover {
    background-color: #0056b3;
  }